<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Picsum Gallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-toolbar
    ><ion-searchbar
      [(ngModel)]="searchId"
      (ionInput)="filterImages()"
    ></ion-searchbar>
  </ion-toolbar>

  <ion-grid>
    <ion-row>
      <ng-container *ngIf="!isEmplty; else no_data">
        <ion-col size="6" *ngFor="let image of filteredImages">
          <ion-img
            [src]="image.download_url"
            [alt]="image.author"
            (ionImgDidLoad)="handleImgLoad(image)"
          ></ion-img>
          <div class="btns">
            <ion-button
              size="small"
              *ngIf="image.loaded"
              (click)="showImageInfo($event,image.id)"
              >INFO</ion-button
            >
            <ion-button
              size="small"
              *ngIf="image.loaded"
              (click)="showMore(image.id)"
              >View</ion-button
            >
          </div>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
  <ng-template #no_data>
    <div>No Data Found</div>
  </ng-template>
</ion-content>
